# Ignore all dotfiles #
#######################
.*
!/.dockerignore
!/.gitignore
!/.github/
!/.readthedocs.yaml
!/.htaccess

# Composer #
############
composer.phar
/vendor/

config.php
logo.*
peering_policy.*
*.db
*.log
*.html
