---
name: syntax
on: [push, pull_request]

jobs:
  syntax:
    name: tests
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    strategy:
      matrix:
        php-versions:
          - '7.0'
          - '7.1'
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: xml
      - name: Run syntax check
        run: ./scripts/cibuild.sh
